.App {
  background-color: #89b0f0;
  min-height: 100vh;
}

.searchbar {
  display: flex;
  flex-direction: row;
}
.continents {
  background-color: white;
  width: 40%;
  width: 41%;
  height: 20px;
  text-align: center;
  margin-bottom: 1px;
  cursor: pointer;
}
.countries {
  background-color: white;
  height: 20px;
  margin-bottom: 1px;
  width: 41%;
}
.firstInput {
  flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.searchInput {
  width: 40%;
  height: 25px;
}
.secondInput {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flags {
  flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.flag {
  font-size: 40px;
}
.App-header {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


